USE [master]
GO
/****** Object:  Database [SigepDB]    Script Date: 1/6/2026 20:28:08 ******/
CREATE DATABASE [SigepDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SigepDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SigepDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SigepDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SigepDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SigepDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SigepDB]
GO
/****** Object:  Table [dbo].[AddressTypes]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddressTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_AddressTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AddressTypes_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnnualBonusDetails]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnnualBonusDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AnnualBonusId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[WorkedMonths] [int] NOT NULL,
	[AverageSalary] [decimal](18, 2) NOT NULL,
	[ProportionalAmount] [decimal](18, 2) NOT NULL,
	[Deductions] [decimal](18, 2) NOT NULL,
	[NetAmount] [decimal](18, 2) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AnnualBonusDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AnnualBonusDetails_Bonus_Employee] UNIQUE NONCLUSTERED 
(
	[AnnualBonusId] ASC,
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnnualBonuses]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnnualBonuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [int] NOT NULL,
	[PeriodStartDate] [date] NOT NULL,
	[PeriodEndDate] [date] NOT NULL,
	[Status] [int] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[TotalEmployees] [int] NOT NULL,
	[CalculatedById] [int] NOT NULL,
	[CalculatedAt] [datetime2](7) NOT NULL,
	[ApprovedById] [int] NULL,
	[ApprovedAt] [datetime2](7) NULL,
	[Notes] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_AnnualBonuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AnnualBonuses_Year] UNIQUE NONCLUSTERED 
(
	[Year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttendanceRecords]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceRecords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[CheckInTime] [datetime2](7) NULL,
	[CheckOutTime] [datetime2](7) NULL,
	[CheckInLatitude] [decimal](10, 7) NULL,
	[CheckInLongitude] [decimal](10, 7) NULL,
	[CheckOutLatitude] [decimal](10, 7) NULL,
	[CheckOutLongitude] [decimal](10, 7) NULL,
	[WorkedHours] [decimal](5, 2) NULL,
	[AttendanceStatusId] [int] NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsLate] [bit] NOT NULL,
	[LateMinutes] [int] NOT NULL,
 CONSTRAINT [PK_AttendanceRecords] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AttendanceRecords_Employee_Date] UNIQUE NONCLUSTERED 
(
	[EmployeeId] ASC,
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttendanceStatuses]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceStatuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_AttendanceStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AttendanceStatuses_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Action] [nvarchar](100) NOT NULL,
	[Module] [nvarchar](100) NOT NULL,
	[EntityType] [nvarchar](100) NULL,
	[EntityId] [int] NULL,
	[OldValues] [nvarchar](max) NULL,
	[NewValues] [nvarchar](max) NULL,
	[IpAddress] [nvarchar](50) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[Description] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BenefitTypes]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenefitTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsPercentage] [bit] NOT NULL,
	[DefaultValue] [decimal](18, 4) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_BenefitTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BenefitTypes_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cantons]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cantons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProvinceId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Code] [nvarchar](10) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Cantons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Cantons_Province_Name] UNIQUE NONCLUSTERED 
(
	[ProvinceId] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeductionTypes]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeductionTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsPercentage] [bit] NOT NULL,
	[DefaultValue] [decimal](18, 4) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_DeductionTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DeductionTypes_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DisabilityRequests]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DisabilityRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[TotalDays] [int] NOT NULL,
	[DisabilityTypeId] [int] NOT NULL,
	[Diagnosis] [nvarchar](500) NULL,
	[DoctorName] [nvarchar](200) NULL,
	[MedicalCenter] [nvarchar](200) NULL,
	[DocumentNumber] [nvarchar](100) NULL,
	[AttachmentPath] [nvarchar](500) NULL,
	[RequestStatusId] [int] NOT NULL,
	[ReviewedById] [int] NULL,
	[ReviewedAt] [datetime2](7) NULL,
	[ReviewComments] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_DisabilityRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DisabilityTypes]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DisabilityTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsPaid] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_DisabilityTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DisabilityTypes_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CantonId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Code] [nvarchar](10) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Districts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Districts_Canton_Name] UNIQUE NONCLUSTERED 
(
	[CantonId] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeAddresses]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeAddresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[AddressTypeId] [int] NOT NULL,
	[ProvinceId] [int] NOT NULL,
	[CantonId] [int] NOT NULL,
	[DistrictId] [int] NOT NULL,
	[ExactAddress] [nvarchar](700) NOT NULL,
	[PostalCode] [nvarchar](20) NULL,
	[ReferencePoint] [nvarchar](500) NULL,
	[IsPrimary] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_EmployeeAddresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeePhones]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeePhones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[PhoneTypeId] [int] NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[Extension] [nvarchar](20) NULL,
	[Notes] [nvarchar](250) NULL,
	[IsPrimary] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_EmployeePhones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EmployeePhones_Employee_Type_Number] UNIQUE NONCLUSTERED 
(
	[EmployeeId] ASC,
	[PhoneTypeId] ASC,
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[IdentificationNumber] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[BirthDate] [date] NULL,
	[HireDate] [date] NOT NULL,
	[TerminationDate] [date] NULL,
	[BaseSalary] [decimal](18, 2) NOT NULL,
	[EmployeeStatusId] [int] NOT NULL,
	[PositionId] [int] NULL,
	[ScheduleId] [int] NULL,
	[SupervisorId] [int] NULL,
	[VacationDaysPerYear] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Employees_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Employees_IdentificationNumber] UNIQUE NONCLUSTERED 
(
	[IdentificationNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeStatuses]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeStatuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_EmployeeStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EmployeeStatuses_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](1000) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Module] [nvarchar](100) NULL,
	[EntityType] [nvarchar](100) NULL,
	[EntityId] [int] NULL,
	[IsRead] [bit] NOT NULL,
	[ReadAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OvertimeRecords]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OvertimeRecords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[AttendanceId] [int] NULL,
	[Date] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[TotalHours] [decimal](5, 2) NOT NULL,
	[HourlyRate] [decimal](18, 2) NOT NULL,
	[MultiplierRate] [decimal](3, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[DetectionType] [int] NOT NULL,
	[ReviewedById] [int] NULL,
	[ReviewedAt] [datetime2](7) NULL,
	[ReviewComments] [nvarchar](1000) NULL,
	[PayrollDetailId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[Reason] [nvarchar](500) NULL,
 CONSTRAINT [PK_OvertimeRecords] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayrollBenefits]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayrollBenefits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PayrollDetailId] [int] NOT NULL,
	[BenefitTypeId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[IsPercentage] [bit] NOT NULL,
	[PercentageValue] [decimal](5, 4) NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PayrollBenefits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayrollDeductions]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayrollDeductions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PayrollDetailId] [int] NOT NULL,
	[DeductionTypeId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[IsPercentage] [bit] NOT NULL,
	[PercentageValue] [decimal](5, 4) NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PayrollDeductions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayrollDetails]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayrollDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PayrollId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[BaseSalary] [decimal](18, 2) NOT NULL,
	[WorkedDays] [int] NOT NULL,
	[OvertimeHours] [decimal](5, 2) NOT NULL,
	[OvertimeAmount] [decimal](18, 2) NOT NULL,
	[GrossSalary] [decimal](18, 2) NOT NULL,
	[TotalDeductions] [decimal](18, 2) NOT NULL,
	[TotalBenefits] [decimal](18, 2) NOT NULL,
	[NetSalary] [decimal](18, 2) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PayrollDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PayrollDetails_Payroll_Employee] UNIQUE NONCLUSTERED 
(
	[PayrollId] ASC,
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayrollPeriodTypes]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayrollPeriodTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[DaysInPeriod] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_PayrollPeriodTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PayrollPeriodTypes_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payrolls]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payrolls](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PeriodYear] [int] NOT NULL,
	[PeriodMonth] [int] NOT NULL,
	[PayrollPeriodTypeId] [int] NOT NULL,
	[PeriodStartDate] [date] NOT NULL,
	[PeriodEndDate] [date] NOT NULL,
	[PayrollStatusId] [int] NOT NULL,
	[TotalGrossSalary] [decimal](18, 2) NOT NULL,
	[TotalDeductions] [decimal](18, 2) NOT NULL,
	[TotalBenefits] [decimal](18, 2) NOT NULL,
	[TotalNetSalary] [decimal](18, 2) NOT NULL,
	[TotalEmployees] [int] NOT NULL,
	[ProcessedById] [int] NULL,
	[ProcessedAt] [datetime2](7) NULL,
	[ApprovedById] [int] NULL,
	[ApprovedAt] [datetime2](7) NULL,
	[Notes] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Payrolls] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Payrolls_Period] UNIQUE NONCLUSTERED 
(
	[PeriodYear] ASC,
	[PeriodMonth] ASC,
	[PayrollPeriodTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayrollStatuses]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayrollStatuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsFinal] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_PayrollStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PayrollStatuses_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerformanceEvaluations]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerformanceEvaluations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[EvaluatorId] [int] NOT NULL,
	[EvaluationDate] [date] NOT NULL,
	[PeriodStartDate] [date] NULL,
	[PeriodEndDate] [date] NULL,
	[Score] [int] NOT NULL,
	[Comments] [nvarchar](2000) NULL,
	[Strengths] [nvarchar](1000) NULL,
	[AreasToImprove] [nvarchar](1000) NULL,
	[Goals] [nvarchar](1000) NULL,
	[Status] [int] NOT NULL,
	[EmployeeAcknowledged] [bit] NOT NULL,
	[AcknowledgedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_PerformanceEvaluations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionRequests]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[PermissionTypeId] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
	[IsPartialDay] [bit] NOT NULL,
	[TotalDays] [decimal](5, 2) NOT NULL,
	[Reason] [nvarchar](1000) NOT NULL,
	[RequestStatusId] [int] NOT NULL,
	[AttachmentPath] [nvarchar](500) NULL,
	[ReviewedById] [int] NULL,
	[ReviewedAt] [datetime2](7) NULL,
	[ReviewComments] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_PermissionRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionTypes]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[MaxDaysPerYear] [int] NULL,
	[RequiresApproval] [bit] NOT NULL,
	[IsPaid] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[RequiresDocument] [bit] NOT NULL,
 CONSTRAINT [PK_PermissionTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PermissionTypes_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhoneTypes]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhoneTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_PhoneTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PhoneTypes_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Positions]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[BaseSalary] [decimal](18, 2) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Positions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Positions_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Code] [nvarchar](10) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Provinces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Provinces_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PublicHolidays]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublicHolidays](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HolidayDate] [date] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsMandatoryPayment] [bit] NOT NULL,
	[AppliesToPayroll] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_PublicHolidays] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PublicHolidays_Date] UNIQUE NONCLUSTERED 
(
	[HolidayDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestStatuses]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestStatuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsFinal] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_RequestStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_RequestStatuses_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleDays]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleDays](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleId] [int] NOT NULL,
	[DayOfWeek] [int] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[CrossesMidnight] [bit] NOT NULL,
	[WorkHours] [decimal](4, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ScheduleDays_Schedule_Day] UNIQUE NONCLUSTERED 
(
	[ScheduleId] ASC,
	[DayOfWeek] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedules]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[WorkHoursPerDay] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Schedules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Schedules_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SettlementDeductions]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SettlementDeductions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SettlementId] [int] NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SettlementDeductions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settlements]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settlements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[TerminationTypeId] [int] NOT NULL,
	[HireDate] [date] NOT NULL,
	[TerminationDate] [date] NOT NULL,
	[LastSalary] [decimal](18, 2) NOT NULL,
	[AverageSalary] [decimal](18, 2) NOT NULL,
	[WorkedYears] [int] NOT NULL,
	[WorkedMonths] [int] NOT NULL,
	[WorkedDays] [int] NOT NULL,
	[PendingVacationDays] [decimal](5, 2) NOT NULL,
	[VacationAmount] [decimal](18, 2) NOT NULL,
	[ProportionalBonus] [decimal](18, 2) NOT NULL,
	[SeveranceAmount] [decimal](18, 2) NOT NULL,
	[OtherBenefits] [decimal](18, 2) NOT NULL,
	[TotalDeductions] [decimal](18, 2) NOT NULL,
	[GrossTotal] [decimal](18, 2) NOT NULL,
	[NetTotal] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[CalculatedById] [int] NOT NULL,
	[CalculatedAt] [datetime2](7) NOT NULL,
	[ApprovedById] [int] NULL,
	[ApprovedAt] [datetime2](7) NULL,
	[Notes] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Settlements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SettingKey] [nvarchar](100) NOT NULL,
	[SettingValue] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[DataType] [nvarchar](50) NOT NULL,
	[Category] [nvarchar](100) NULL,
	[IsEditable] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_SystemSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SystemSettings_Key] UNIQUE NONCLUSTERED 
(
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TerminationTypes]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TerminationTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_TerminationTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TerminationTypes_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserRoles_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[LastLoginAt] [datetime2](7) NULL,
	[EmployeeId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Users_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VacationBalances]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VacationBalances](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[TotalDays] [int] NOT NULL,
	[UsedDays] [int] NOT NULL,
	[PendingDays] [int] NOT NULL,
	[AvailableDays]  AS (([TotalDays]-[UsedDays])-[PendingDays]) PERSISTED,
	[CarryOverDays] [int] NOT NULL,
	[ExpirationDate] [date] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[CarriedOverDays] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_VacationBalances] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_VacationBalances_Employee_Year] UNIQUE NONCLUSTERED 
(
	[EmployeeId] ASC,
	[Year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VacationRequestHistory]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VacationRequestHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VacationRequestId] [int] NOT NULL,
	[RequestStatusId] [int] NOT NULL,
	[ChangedById] [int] NOT NULL,
	[Comments] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_VacationRequestHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VacationRequests]    Script Date: 1/6/2026 20:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VacationRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[TotalDays] [int] NOT NULL,
	[RequestStatusId] [int] NOT NULL,
	[Comments] [nvarchar](1000) NULL,
	[ReviewedById] [int] NULL,
	[ReviewedAt] [datetime2](7) NULL,
	[ReviewComments] [nvarchar](1000) NULL,
	[Version] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_VacationRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AttendanceRecords_Date]    Script Date: 1/6/2026 20:28:09 ******/
CREATE NONCLUSTERED INDEX [IX_AttendanceRecords_Date] ON [dbo].[AttendanceRecords]
(
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AttendanceRecords_Status]    Script Date: 1/6/2026 20:28:09 ******/
CREATE NONCLUSTERED INDEX [IX_AttendanceRecords_Status] ON [dbo].[AttendanceRecords]
(
	[AttendanceStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditLogs_CreatedAt]    Script Date: 1/6/2026 20:28:09 ******/
CREATE NONCLUSTERED INDEX [IX_AuditLogs_CreatedAt] ON [dbo].[AuditLogs]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AuditLogs_Module]    Script Date: 1/6/2026 20:28:09 ******/
CREATE NONCLUSTERED INDEX [IX_AuditLogs_Module] ON [dbo].[AuditLogs]
(
	[Module] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditLogs_UserId]    Script Date: 1/6/2026 20:28:09 ******/
CREATE NONCLUSTERED INDEX [IX_AuditLogs_UserId] ON [dbo].[AuditLogs]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DisabilityRequests_EmployeeId]    Script Date: 1/6/2026 20:28:09 ******/
CREATE NONCLUSTERED INDEX [IX_DisabilityRequests_EmployeeId] ON [dbo].[DisabilityRequests]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeAddresses_EmployeeId]    Script Date: 1/6/2026 20:28:09 ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeAddresses_EmployeeId] ON [dbo].[EmployeeAddresses]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_EmployeeAddresses_PrimaryActive]    Script Date: 1/6/2026 20:28:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_EmployeeAddresses_PrimaryActive] ON [dbo].[EmployeeAddresses]
(
	[EmployeeId] ASC
)
WHERE ([IsPrimary]=(1) AND [IsActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeePhones_EmployeeId]    Script Date: 1/6/2026 20:28:09 ******/
CREATE NONCLUSTERED INDEX [IX_EmployeePhones_EmployeeId] ON [dbo].[EmployeePhones]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_EmployeePhones_PrimaryActive]    Script Date: 1/6/2026 20:28:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_EmployeePhones_PrimaryActive] ON [dbo].[EmployeePhones]
(
	[EmployeeId] ASC
)
WHERE ([IsPrimary]=(1) AND [IsActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees_HireDate]    Script Date: 1/6/2026 20:28:09 ******/
CREATE NONCLUSTERED INDEX [IX_Employees_HireDate] ON [dbo].[Employees]
(
	[HireDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees_PositionId]    Script Date: 1/6/2026 20:28:09 ******/
CREATE NONCLUSTERED INDEX [IX_Employees_PositionId] ON [dbo].[Employees]
(
	[PositionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees_ScheduleId]    Script Date: 1/6/2026 20:28:09 ******/
CREATE NONCLUSTERED INDEX [IX_Employees_ScheduleId] ON [dbo].[Employees]
(
	[ScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees_Status]    Script Date: 1/6/2026 20:28:09 ******/
CREATE NONCLUSTERED INDEX [IX_Employees_Status] ON [dbo].[Employees]
(
	[EmployeeStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_IsRead]    Script Date: 1/6/2026 20:28:09 ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_IsRead] ON [dbo].[Notifications]
(
	[IsRead] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_UserId]    Script Date: 1/6/2026 20:28:09 ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserId] ON [dbo].[Notifications]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OvertimeRecords_Date]    Script Date: 1/6/2026 20:28:09 ******/
CREATE NONCLUSTERED INDEX [IX_OvertimeRecords_Date] ON [dbo].[OvertimeRecords]
(
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OvertimeRecords_EmployeeId]    Script Date: 1/6/2026 20:28:09 ******/
CREATE NONCLUSTERED INDEX [IX_OvertimeRecords_EmployeeId] ON [dbo].[OvertimeRecords]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PayrollDetails_EmployeeId]    Script Date: 1/6/2026 20:28:09 ******/
CREATE NONCLUSTERED INDEX [IX_PayrollDetails_EmployeeId] ON [dbo].[PayrollDetails]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payrolls_Period]    Script Date: 1/6/2026 20:28:09 ******/
CREATE NONCLUSTERED INDEX [IX_Payrolls_Period] ON [dbo].[Payrolls]
(
	[PeriodYear] ASC,
	[PeriodMonth] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payrolls_Status]    Script Date: 1/6/2026 20:28:09 ******/
CREATE NONCLUSTERED INDEX [IX_Payrolls_Status] ON [dbo].[Payrolls]
(
	[PayrollStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PerformanceEvaluations_EmployeeId]    Script Date: 1/6/2026 20:28:09 ******/
CREATE NONCLUSTERED INDEX [IX_PerformanceEvaluations_EmployeeId] ON [dbo].[PerformanceEvaluations]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PermissionRequests_EmployeeId]    Script Date: 1/6/2026 20:28:09 ******/
CREATE NONCLUSTERED INDEX [IX_PermissionRequests_EmployeeId] ON [dbo].[PermissionRequests]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PublicHolidays_Date]    Script Date: 1/6/2026 20:28:09 ******/
CREATE NONCLUSTERED INDEX [IX_PublicHolidays_Date] ON [dbo].[PublicHolidays]
(
	[HolidayDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_EmployeeId]    Script Date: 1/6/2026 20:28:09 ******/
CREATE NONCLUSTERED INDEX [IX_Users_EmployeeId] ON [dbo].[Users]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_RoleId]    Script Date: 1/6/2026 20:28:09 ******/
CREATE NONCLUSTERED INDEX [IX_Users_RoleId] ON [dbo].[Users]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VacationRequests_EmployeeId]    Script Date: 1/6/2026 20:28:09 ******/
CREATE NONCLUSTERED INDEX [IX_VacationRequests_EmployeeId] ON [dbo].[VacationRequests]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AddressTypes] ADD  CONSTRAINT [DF_AddressTypes_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AddressTypes] ADD  CONSTRAINT [DF_AddressTypes_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AnnualBonusDetails] ADD  CONSTRAINT [DF_AnnualBonusDetails_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AnnualBonuses] ADD  CONSTRAINT [DF_AnnualBonuses_TotalAmount]  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[AnnualBonuses] ADD  CONSTRAINT [DF_AnnualBonuses_TotalEmployees]  DEFAULT ((0)) FOR [TotalEmployees]
GO
ALTER TABLE [dbo].[AnnualBonuses] ADD  CONSTRAINT [DF_AnnualBonuses_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AttendanceRecords] ADD  CONSTRAINT [DF_AttendanceRecords_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AttendanceRecords] ADD  DEFAULT ((0)) FOR [IsLate]
GO
ALTER TABLE [dbo].[AttendanceRecords] ADD  DEFAULT ((0)) FOR [LateMinutes]
GO
ALTER TABLE [dbo].[AttendanceStatuses] ADD  CONSTRAINT [DF_AttendanceStatuses_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AttendanceStatuses] ADD  CONSTRAINT [DF_AttendanceStatuses_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  CONSTRAINT [DF_AuditLogs_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BenefitTypes] ADD  CONSTRAINT [DF_BenefitTypes_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BenefitTypes] ADD  CONSTRAINT [DF_BenefitTypes_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Cantons] ADD  CONSTRAINT [DF_Cantons_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Cantons] ADD  CONSTRAINT [DF_Cantons_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DeductionTypes] ADD  CONSTRAINT [DF_DeductionTypes_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DeductionTypes] ADD  CONSTRAINT [DF_DeductionTypes_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DisabilityRequests] ADD  CONSTRAINT [DF_DisabilityRequests_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DisabilityTypes] ADD  CONSTRAINT [DF_DisabilityTypes_IsPaid]  DEFAULT ((1)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[DisabilityTypes] ADD  CONSTRAINT [DF_DisabilityTypes_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DisabilityTypes] ADD  CONSTRAINT [DF_DisabilityTypes_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Districts] ADD  CONSTRAINT [DF_Districts_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Districts] ADD  CONSTRAINT [DF_Districts_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EmployeeAddresses] ADD  CONSTRAINT [DF_EmployeeAddresses_IsPrimary]  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[EmployeeAddresses] ADD  CONSTRAINT [DF_EmployeeAddresses_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EmployeeAddresses] ADD  CONSTRAINT [DF_EmployeeAddresses_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EmployeePhones] ADD  CONSTRAINT [DF_EmployeePhones_IsPrimary]  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[EmployeePhones] ADD  CONSTRAINT [DF_EmployeePhones_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EmployeePhones] ADD  CONSTRAINT [DF_EmployeePhones_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_VacationDaysPerYear]  DEFAULT ((14)) FOR [VacationDaysPerYear]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EmployeeStatuses] ADD  CONSTRAINT [DF_EmployeeStatuses_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EmployeeStatuses] ADD  CONSTRAINT [DF_EmployeeStatuses_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notifications_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notifications_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OvertimeRecords] ADD  CONSTRAINT [DF_OvertimeRecords_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PayrollBenefits] ADD  CONSTRAINT [DF_PayrollBenefits_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PayrollDeductions] ADD  CONSTRAINT [DF_PayrollDeductions_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PayrollDetails] ADD  CONSTRAINT [DF_PayrollDetails_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PayrollPeriodTypes] ADD  CONSTRAINT [DF_PayrollPeriodTypes_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PayrollPeriodTypes] ADD  CONSTRAINT [DF_PayrollPeriodTypes_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payrolls] ADD  CONSTRAINT [DF_Payrolls_TotalGrossSalary]  DEFAULT ((0)) FOR [TotalGrossSalary]
GO
ALTER TABLE [dbo].[Payrolls] ADD  CONSTRAINT [DF_Payrolls_TotalDeductions]  DEFAULT ((0)) FOR [TotalDeductions]
GO
ALTER TABLE [dbo].[Payrolls] ADD  CONSTRAINT [DF_Payrolls_TotalBenefits]  DEFAULT ((0)) FOR [TotalBenefits]
GO
ALTER TABLE [dbo].[Payrolls] ADD  CONSTRAINT [DF_Payrolls_TotalNetSalary]  DEFAULT ((0)) FOR [TotalNetSalary]
GO
ALTER TABLE [dbo].[Payrolls] ADD  CONSTRAINT [DF_Payrolls_TotalEmployees]  DEFAULT ((0)) FOR [TotalEmployees]
GO
ALTER TABLE [dbo].[Payrolls] ADD  CONSTRAINT [DF_Payrolls_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PayrollStatuses] ADD  CONSTRAINT [DF_PayrollStatuses_IsFinal]  DEFAULT ((0)) FOR [IsFinal]
GO
ALTER TABLE [dbo].[PayrollStatuses] ADD  CONSTRAINT [DF_PayrollStatuses_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PayrollStatuses] ADD  CONSTRAINT [DF_PayrollStatuses_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PerformanceEvaluations] ADD  CONSTRAINT [DF_PerformanceEvaluations_EmployeeAcknowledged]  DEFAULT ((0)) FOR [EmployeeAcknowledged]
GO
ALTER TABLE [dbo].[PerformanceEvaluations] ADD  CONSTRAINT [DF_PerformanceEvaluations_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PermissionRequests] ADD  CONSTRAINT [DF_PermissionRequests_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PermissionTypes] ADD  CONSTRAINT [DF_PermissionTypes_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PermissionTypes] ADD  CONSTRAINT [DF_PermissionTypes_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PermissionTypes] ADD  DEFAULT ((0)) FOR [RequiresDocument]
GO
ALTER TABLE [dbo].[PhoneTypes] ADD  CONSTRAINT [DF_PhoneTypes_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PhoneTypes] ADD  CONSTRAINT [DF_PhoneTypes_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Positions] ADD  CONSTRAINT [DF_Positions_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Positions] ADD  CONSTRAINT [DF_Positions_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Provinces] ADD  CONSTRAINT [DF_Provinces_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Provinces] ADD  CONSTRAINT [DF_Provinces_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PublicHolidays] ADD  CONSTRAINT [DF_PublicHolidays_IsMandatoryPayment]  DEFAULT ((1)) FOR [IsMandatoryPayment]
GO
ALTER TABLE [dbo].[PublicHolidays] ADD  CONSTRAINT [DF_PublicHolidays_AppliesToPayroll]  DEFAULT ((1)) FOR [AppliesToPayroll]
GO
ALTER TABLE [dbo].[PublicHolidays] ADD  CONSTRAINT [DF_PublicHolidays_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PublicHolidays] ADD  CONSTRAINT [DF_PublicHolidays_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RequestStatuses] ADD  CONSTRAINT [DF_RequestStatuses_IsFinal]  DEFAULT ((0)) FOR [IsFinal]
GO
ALTER TABLE [dbo].[RequestStatuses] ADD  CONSTRAINT [DF_RequestStatuses_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[RequestStatuses] ADD  CONSTRAINT [DF_RequestStatuses_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ScheduleDays] ADD  DEFAULT ((0)) FOR [CrossesMidnight]
GO
ALTER TABLE [dbo].[ScheduleDays] ADD  DEFAULT ((8)) FOR [WorkHours]
GO
ALTER TABLE [dbo].[ScheduleDays] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Schedules] ADD  CONSTRAINT [DF_Schedules_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Schedules] ADD  CONSTRAINT [DF_Schedules_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SettlementDeductions] ADD  CONSTRAINT [DF_SettlementDeductions_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Settlements] ADD  CONSTRAINT [DF_Settlements_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  CONSTRAINT [DF_SystemSettings_IsEditable]  DEFAULT ((1)) FOR [IsEditable]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  CONSTRAINT [DF_SystemSettings_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TerminationTypes] ADD  CONSTRAINT [DF_TerminationTypes_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TerminationTypes] ADD  CONSTRAINT [DF_TerminationTypes_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserRoles] ADD  CONSTRAINT [DF_UserRoles_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserRoles] ADD  CONSTRAINT [DF_UserRoles_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VacationBalances] ADD  CONSTRAINT [DF_VacationBalances_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VacationBalances] ADD  DEFAULT ((0)) FOR [CarriedOverDays]
GO
ALTER TABLE [dbo].[VacationRequestHistory] ADD  CONSTRAINT [DF_VacationRequestHistory_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VacationRequests] ADD  CONSTRAINT [DF_VacationRequests_Version]  DEFAULT ((1)) FOR [Version]
GO
ALTER TABLE [dbo].[VacationRequests] ADD  CONSTRAINT [DF_VacationRequests_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AnnualBonusDetails]  WITH CHECK ADD  CONSTRAINT [FK_AnnualBonusDetails_AnnualBonuses] FOREIGN KEY([AnnualBonusId])
REFERENCES [dbo].[AnnualBonuses] ([Id])
GO
ALTER TABLE [dbo].[AnnualBonusDetails] CHECK CONSTRAINT [FK_AnnualBonusDetails_AnnualBonuses]
GO
ALTER TABLE [dbo].[AnnualBonusDetails]  WITH CHECK ADD  CONSTRAINT [FK_AnnualBonusDetails_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[AnnualBonusDetails] CHECK CONSTRAINT [FK_AnnualBonusDetails_Employees]
GO
ALTER TABLE [dbo].[AnnualBonuses]  WITH CHECK ADD  CONSTRAINT [FK_AnnualBonuses_ApprovedBy] FOREIGN KEY([ApprovedById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[AnnualBonuses] CHECK CONSTRAINT [FK_AnnualBonuses_ApprovedBy]
GO
ALTER TABLE [dbo].[AnnualBonuses]  WITH CHECK ADD  CONSTRAINT [FK_AnnualBonuses_CalculatedBy] FOREIGN KEY([CalculatedById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[AnnualBonuses] CHECK CONSTRAINT [FK_AnnualBonuses_CalculatedBy]
GO
ALTER TABLE [dbo].[AttendanceRecords]  WITH CHECK ADD  CONSTRAINT [FK_AttendanceRecords_AttendanceStatuses] FOREIGN KEY([AttendanceStatusId])
REFERENCES [dbo].[AttendanceStatuses] ([Id])
GO
ALTER TABLE [dbo].[AttendanceRecords] CHECK CONSTRAINT [FK_AttendanceRecords_AttendanceStatuses]
GO
ALTER TABLE [dbo].[AttendanceRecords]  WITH CHECK ADD  CONSTRAINT [FK_AttendanceRecords_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[AttendanceRecords] CHECK CONSTRAINT [FK_AttendanceRecords_Employees]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Users]
GO
ALTER TABLE [dbo].[Cantons]  WITH CHECK ADD  CONSTRAINT [FK_Cantons_Provinces] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Provinces] ([Id])
GO
ALTER TABLE [dbo].[Cantons] CHECK CONSTRAINT [FK_Cantons_Provinces]
GO
ALTER TABLE [dbo].[DisabilityRequests]  WITH CHECK ADD  CONSTRAINT [FK_DisabilityRequests_DisabilityTypes] FOREIGN KEY([DisabilityTypeId])
REFERENCES [dbo].[DisabilityTypes] ([Id])
GO
ALTER TABLE [dbo].[DisabilityRequests] CHECK CONSTRAINT [FK_DisabilityRequests_DisabilityTypes]
GO
ALTER TABLE [dbo].[DisabilityRequests]  WITH CHECK ADD  CONSTRAINT [FK_DisabilityRequests_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[DisabilityRequests] CHECK CONSTRAINT [FK_DisabilityRequests_Employees]
GO
ALTER TABLE [dbo].[DisabilityRequests]  WITH CHECK ADD  CONSTRAINT [FK_DisabilityRequests_RequestStatuses] FOREIGN KEY([RequestStatusId])
REFERENCES [dbo].[RequestStatuses] ([Id])
GO
ALTER TABLE [dbo].[DisabilityRequests] CHECK CONSTRAINT [FK_DisabilityRequests_RequestStatuses]
GO
ALTER TABLE [dbo].[DisabilityRequests]  WITH CHECK ADD  CONSTRAINT [FK_DisabilityRequests_ReviewedBy] FOREIGN KEY([ReviewedById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[DisabilityRequests] CHECK CONSTRAINT [FK_DisabilityRequests_ReviewedBy]
GO
ALTER TABLE [dbo].[Districts]  WITH CHECK ADD  CONSTRAINT [FK_Districts_Cantons] FOREIGN KEY([CantonId])
REFERENCES [dbo].[Cantons] ([Id])
GO
ALTER TABLE [dbo].[Districts] CHECK CONSTRAINT [FK_Districts_Cantons]
GO
ALTER TABLE [dbo].[EmployeeAddresses]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeAddresses_AddressTypes] FOREIGN KEY([AddressTypeId])
REFERENCES [dbo].[AddressTypes] ([Id])
GO
ALTER TABLE [dbo].[EmployeeAddresses] CHECK CONSTRAINT [FK_EmployeeAddresses_AddressTypes]
GO
ALTER TABLE [dbo].[EmployeeAddresses]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeAddresses_Cantons] FOREIGN KEY([CantonId])
REFERENCES [dbo].[Cantons] ([Id])
GO
ALTER TABLE [dbo].[EmployeeAddresses] CHECK CONSTRAINT [FK_EmployeeAddresses_Cantons]
GO
ALTER TABLE [dbo].[EmployeeAddresses]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeAddresses_Districts] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[Districts] ([Id])
GO
ALTER TABLE [dbo].[EmployeeAddresses] CHECK CONSTRAINT [FK_EmployeeAddresses_Districts]
GO
ALTER TABLE [dbo].[EmployeeAddresses]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeAddresses_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[EmployeeAddresses] CHECK CONSTRAINT [FK_EmployeeAddresses_Employees]
GO
ALTER TABLE [dbo].[EmployeeAddresses]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeAddresses_Provinces] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Provinces] ([Id])
GO
ALTER TABLE [dbo].[EmployeeAddresses] CHECK CONSTRAINT [FK_EmployeeAddresses_Provinces]
GO
ALTER TABLE [dbo].[EmployeePhones]  WITH CHECK ADD  CONSTRAINT [FK_EmployeePhones_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[EmployeePhones] CHECK CONSTRAINT [FK_EmployeePhones_Employees]
GO
ALTER TABLE [dbo].[EmployeePhones]  WITH CHECK ADD  CONSTRAINT [FK_EmployeePhones_PhoneTypes] FOREIGN KEY([PhoneTypeId])
REFERENCES [dbo].[PhoneTypes] ([Id])
GO
ALTER TABLE [dbo].[EmployeePhones] CHECK CONSTRAINT [FK_EmployeePhones_PhoneTypes]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_EmployeeStatuses] FOREIGN KEY([EmployeeStatusId])
REFERENCES [dbo].[EmployeeStatuses] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_EmployeeStatuses]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Positions] FOREIGN KEY([PositionId])
REFERENCES [dbo].[Positions] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Positions]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Schedules] FOREIGN KEY([ScheduleId])
REFERENCES [dbo].[Schedules] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Schedules]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Supervisor] FOREIGN KEY([SupervisorId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Supervisor]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users]
GO
ALTER TABLE [dbo].[OvertimeRecords]  WITH CHECK ADD  CONSTRAINT [FK_OvertimeRecords_Attendance] FOREIGN KEY([AttendanceId])
REFERENCES [dbo].[AttendanceRecords] ([Id])
GO
ALTER TABLE [dbo].[OvertimeRecords] CHECK CONSTRAINT [FK_OvertimeRecords_Attendance]
GO
ALTER TABLE [dbo].[OvertimeRecords]  WITH CHECK ADD  CONSTRAINT [FK_OvertimeRecords_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[OvertimeRecords] CHECK CONSTRAINT [FK_OvertimeRecords_Employees]
GO
ALTER TABLE [dbo].[OvertimeRecords]  WITH CHECK ADD  CONSTRAINT [FK_OvertimeRecords_PayrollDetails] FOREIGN KEY([PayrollDetailId])
REFERENCES [dbo].[PayrollDetails] ([Id])
GO
ALTER TABLE [dbo].[OvertimeRecords] CHECK CONSTRAINT [FK_OvertimeRecords_PayrollDetails]
GO
ALTER TABLE [dbo].[OvertimeRecords]  WITH CHECK ADD  CONSTRAINT [FK_OvertimeRecords_ReviewedBy] FOREIGN KEY([ReviewedById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[OvertimeRecords] CHECK CONSTRAINT [FK_OvertimeRecords_ReviewedBy]
GO
ALTER TABLE [dbo].[PayrollBenefits]  WITH CHECK ADD  CONSTRAINT [FK_PayrollBenefits_BenefitTypes] FOREIGN KEY([BenefitTypeId])
REFERENCES [dbo].[BenefitTypes] ([Id])
GO
ALTER TABLE [dbo].[PayrollBenefits] CHECK CONSTRAINT [FK_PayrollBenefits_BenefitTypes]
GO
ALTER TABLE [dbo].[PayrollBenefits]  WITH CHECK ADD  CONSTRAINT [FK_PayrollBenefits_PayrollDetails] FOREIGN KEY([PayrollDetailId])
REFERENCES [dbo].[PayrollDetails] ([Id])
GO
ALTER TABLE [dbo].[PayrollBenefits] CHECK CONSTRAINT [FK_PayrollBenefits_PayrollDetails]
GO
ALTER TABLE [dbo].[PayrollDeductions]  WITH CHECK ADD  CONSTRAINT [FK_PayrollDeductions_DeductionTypes] FOREIGN KEY([DeductionTypeId])
REFERENCES [dbo].[DeductionTypes] ([Id])
GO
ALTER TABLE [dbo].[PayrollDeductions] CHECK CONSTRAINT [FK_PayrollDeductions_DeductionTypes]
GO
ALTER TABLE [dbo].[PayrollDeductions]  WITH CHECK ADD  CONSTRAINT [FK_PayrollDeductions_PayrollDetails] FOREIGN KEY([PayrollDetailId])
REFERENCES [dbo].[PayrollDetails] ([Id])
GO
ALTER TABLE [dbo].[PayrollDeductions] CHECK CONSTRAINT [FK_PayrollDeductions_PayrollDetails]
GO
ALTER TABLE [dbo].[PayrollDetails]  WITH CHECK ADD  CONSTRAINT [FK_PayrollDetails_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[PayrollDetails] CHECK CONSTRAINT [FK_PayrollDetails_Employees]
GO
ALTER TABLE [dbo].[PayrollDetails]  WITH CHECK ADD  CONSTRAINT [FK_PayrollDetails_Payrolls] FOREIGN KEY([PayrollId])
REFERENCES [dbo].[Payrolls] ([Id])
GO
ALTER TABLE [dbo].[PayrollDetails] CHECK CONSTRAINT [FK_PayrollDetails_Payrolls]
GO
ALTER TABLE [dbo].[Payrolls]  WITH CHECK ADD  CONSTRAINT [FK_Payrolls_ApprovedBy] FOREIGN KEY([ApprovedById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Payrolls] CHECK CONSTRAINT [FK_Payrolls_ApprovedBy]
GO
ALTER TABLE [dbo].[Payrolls]  WITH CHECK ADD  CONSTRAINT [FK_Payrolls_PayrollPeriodTypes] FOREIGN KEY([PayrollPeriodTypeId])
REFERENCES [dbo].[PayrollPeriodTypes] ([Id])
GO
ALTER TABLE [dbo].[Payrolls] CHECK CONSTRAINT [FK_Payrolls_PayrollPeriodTypes]
GO
ALTER TABLE [dbo].[Payrolls]  WITH CHECK ADD  CONSTRAINT [FK_Payrolls_PayrollStatuses] FOREIGN KEY([PayrollStatusId])
REFERENCES [dbo].[PayrollStatuses] ([Id])
GO
ALTER TABLE [dbo].[Payrolls] CHECK CONSTRAINT [FK_Payrolls_PayrollStatuses]
GO
ALTER TABLE [dbo].[Payrolls]  WITH CHECK ADD  CONSTRAINT [FK_Payrolls_ProcessedBy] FOREIGN KEY([ProcessedById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Payrolls] CHECK CONSTRAINT [FK_Payrolls_ProcessedBy]
GO
ALTER TABLE [dbo].[PerformanceEvaluations]  WITH CHECK ADD  CONSTRAINT [FK_PerformanceEvaluations_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[PerformanceEvaluations] CHECK CONSTRAINT [FK_PerformanceEvaluations_Employees]
GO
ALTER TABLE [dbo].[PerformanceEvaluations]  WITH CHECK ADD  CONSTRAINT [FK_PerformanceEvaluations_Evaluator] FOREIGN KEY([EvaluatorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PerformanceEvaluations] CHECK CONSTRAINT [FK_PerformanceEvaluations_Evaluator]
GO
ALTER TABLE [dbo].[PermissionRequests]  WITH CHECK ADD  CONSTRAINT [FK_PermissionRequests_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[PermissionRequests] CHECK CONSTRAINT [FK_PermissionRequests_Employees]
GO
ALTER TABLE [dbo].[PermissionRequests]  WITH CHECK ADD  CONSTRAINT [FK_PermissionRequests_PermissionTypes] FOREIGN KEY([PermissionTypeId])
REFERENCES [dbo].[PermissionTypes] ([Id])
GO
ALTER TABLE [dbo].[PermissionRequests] CHECK CONSTRAINT [FK_PermissionRequests_PermissionTypes]
GO
ALTER TABLE [dbo].[PermissionRequests]  WITH CHECK ADD  CONSTRAINT [FK_PermissionRequests_RequestStatuses] FOREIGN KEY([RequestStatusId])
REFERENCES [dbo].[RequestStatuses] ([Id])
GO
ALTER TABLE [dbo].[PermissionRequests] CHECK CONSTRAINT [FK_PermissionRequests_RequestStatuses]
GO
ALTER TABLE [dbo].[PermissionRequests]  WITH CHECK ADD  CONSTRAINT [FK_PermissionRequests_ReviewedBy] FOREIGN KEY([ReviewedById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PermissionRequests] CHECK CONSTRAINT [FK_PermissionRequests_ReviewedBy]
GO
ALTER TABLE [dbo].[ScheduleDays]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleDays_Schedules] FOREIGN KEY([ScheduleId])
REFERENCES [dbo].[Schedules] ([Id])
GO
ALTER TABLE [dbo].[ScheduleDays] CHECK CONSTRAINT [FK_ScheduleDays_Schedules]
GO
ALTER TABLE [dbo].[SettlementDeductions]  WITH CHECK ADD  CONSTRAINT [FK_SettlementDeductions_Settlements] FOREIGN KEY([SettlementId])
REFERENCES [dbo].[Settlements] ([Id])
GO
ALTER TABLE [dbo].[SettlementDeductions] CHECK CONSTRAINT [FK_SettlementDeductions_Settlements]
GO
ALTER TABLE [dbo].[Settlements]  WITH CHECK ADD  CONSTRAINT [FK_Settlements_ApprovedBy] FOREIGN KEY([ApprovedById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Settlements] CHECK CONSTRAINT [FK_Settlements_ApprovedBy]
GO
ALTER TABLE [dbo].[Settlements]  WITH CHECK ADD  CONSTRAINT [FK_Settlements_CalculatedBy] FOREIGN KEY([CalculatedById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Settlements] CHECK CONSTRAINT [FK_Settlements_CalculatedBy]
GO
ALTER TABLE [dbo].[Settlements]  WITH CHECK ADD  CONSTRAINT [FK_Settlements_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Settlements] CHECK CONSTRAINT [FK_Settlements_Employees]
GO
ALTER TABLE [dbo].[Settlements]  WITH CHECK ADD  CONSTRAINT [FK_Settlements_TerminationTypes] FOREIGN KEY([TerminationTypeId])
REFERENCES [dbo].[TerminationTypes] ([Id])
GO
ALTER TABLE [dbo].[Settlements] CHECK CONSTRAINT [FK_Settlements_TerminationTypes]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Employees]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserRoles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[UserRoles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserRoles]
GO
ALTER TABLE [dbo].[VacationBalances]  WITH CHECK ADD  CONSTRAINT [FK_VacationBalances_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[VacationBalances] CHECK CONSTRAINT [FK_VacationBalances_Employees]
GO
ALTER TABLE [dbo].[VacationRequestHistory]  WITH CHECK ADD  CONSTRAINT [FK_VacationRequestHistory_ChangedBy] FOREIGN KEY([ChangedById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[VacationRequestHistory] CHECK CONSTRAINT [FK_VacationRequestHistory_ChangedBy]
GO
ALTER TABLE [dbo].[VacationRequestHistory]  WITH CHECK ADD  CONSTRAINT [FK_VacationRequestHistory_RequestStatuses] FOREIGN KEY([RequestStatusId])
REFERENCES [dbo].[RequestStatuses] ([Id])
GO
ALTER TABLE [dbo].[VacationRequestHistory] CHECK CONSTRAINT [FK_VacationRequestHistory_RequestStatuses]
GO
ALTER TABLE [dbo].[VacationRequestHistory]  WITH CHECK ADD  CONSTRAINT [FK_VacationRequestHistory_VacationRequests] FOREIGN KEY([VacationRequestId])
REFERENCES [dbo].[VacationRequests] ([Id])
GO
ALTER TABLE [dbo].[VacationRequestHistory] CHECK CONSTRAINT [FK_VacationRequestHistory_VacationRequests]
GO
ALTER TABLE [dbo].[VacationRequests]  WITH CHECK ADD  CONSTRAINT [FK_VacationRequests_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[VacationRequests] CHECK CONSTRAINT [FK_VacationRequests_Employees]
GO
ALTER TABLE [dbo].[VacationRequests]  WITH CHECK ADD  CONSTRAINT [FK_VacationRequests_RequestStatuses] FOREIGN KEY([RequestStatusId])
REFERENCES [dbo].[RequestStatuses] ([Id])
GO
ALTER TABLE [dbo].[VacationRequests] CHECK CONSTRAINT [FK_VacationRequests_RequestStatuses]
GO
ALTER TABLE [dbo].[VacationRequests]  WITH CHECK ADD  CONSTRAINT [FK_VacationRequests_ReviewedBy] FOREIGN KEY([ReviewedById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[VacationRequests] CHECK CONSTRAINT [FK_VacationRequests_ReviewedBy]
GO
ALTER TABLE [dbo].[AnnualBonusDetails]  WITH CHECK ADD  CONSTRAINT [CK_AnnualBonusDetails_WorkedMonths] CHECK  (([WorkedMonths]>=(0) AND [WorkedMonths]<=(12)))
GO
ALTER TABLE [dbo].[AnnualBonusDetails] CHECK CONSTRAINT [CK_AnnualBonusDetails_WorkedMonths]
GO
ALTER TABLE [dbo].[AnnualBonuses]  WITH CHECK ADD  CONSTRAINT [CK_AnnualBonuses_Dates] CHECK  (([PeriodEndDate]>=[PeriodStartDate]))
GO
ALTER TABLE [dbo].[AnnualBonuses] CHECK CONSTRAINT [CK_AnnualBonuses_Dates]
GO
ALTER TABLE [dbo].[DisabilityRequests]  WITH CHECK ADD  CONSTRAINT [CK_DisabilityRequests_Dates] CHECK  (([EndDate]>=[StartDate]))
GO
ALTER TABLE [dbo].[DisabilityRequests] CHECK CONSTRAINT [CK_DisabilityRequests_Dates]
GO
ALTER TABLE [dbo].[DisabilityRequests]  WITH CHECK ADD  CONSTRAINT [CK_DisabilityRequests_TotalDays] CHECK  (([TotalDays]>(0)))
GO
ALTER TABLE [dbo].[DisabilityRequests] CHECK CONSTRAINT [CK_DisabilityRequests_TotalDays]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [CK_Employees_BaseSalary] CHECK  (([BaseSalary]>=(0)))
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [CK_Employees_BaseSalary]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [CK_Employees_TerminationDate] CHECK  (([TerminationDate] IS NULL OR [TerminationDate]>=[HireDate]))
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [CK_Employees_TerminationDate]
GO
ALTER TABLE [dbo].[OvertimeRecords]  WITH CHECK ADD  CONSTRAINT [CK_OvertimeRecords_TotalAmount] CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[OvertimeRecords] CHECK CONSTRAINT [CK_OvertimeRecords_TotalAmount]
GO
ALTER TABLE [dbo].[OvertimeRecords]  WITH CHECK ADD  CONSTRAINT [CK_OvertimeRecords_TotalHours] CHECK  (([TotalHours]>=(0)))
GO
ALTER TABLE [dbo].[OvertimeRecords] CHECK CONSTRAINT [CK_OvertimeRecords_TotalHours]
GO
ALTER TABLE [dbo].[Payrolls]  WITH CHECK ADD  CONSTRAINT [CK_Payrolls_PeriodDates] CHECK  (([PeriodEndDate]>=[PeriodStartDate]))
GO
ALTER TABLE [dbo].[Payrolls] CHECK CONSTRAINT [CK_Payrolls_PeriodDates]
GO
ALTER TABLE [dbo].[Payrolls]  WITH CHECK ADD  CONSTRAINT [CK_Payrolls_PeriodMonth] CHECK  (([PeriodMonth]>=(1) AND [PeriodMonth]<=(12)))
GO
ALTER TABLE [dbo].[Payrolls] CHECK CONSTRAINT [CK_Payrolls_PeriodMonth]
GO
ALTER TABLE [dbo].[PerformanceEvaluations]  WITH CHECK ADD  CONSTRAINT [CK_PerformanceEvaluations_Period] CHECK  (([PeriodEndDate] IS NULL OR [PeriodStartDate] IS NULL OR [PeriodEndDate]>=[PeriodStartDate]))
GO
ALTER TABLE [dbo].[PerformanceEvaluations] CHECK CONSTRAINT [CK_PerformanceEvaluations_Period]
GO
ALTER TABLE [dbo].[PerformanceEvaluations]  WITH CHECK ADD  CONSTRAINT [CK_PerformanceEvaluations_Score] CHECK  (([Score]>=(0) AND [Score]<=(10)))
GO
ALTER TABLE [dbo].[PerformanceEvaluations] CHECK CONSTRAINT [CK_PerformanceEvaluations_Score]
GO
ALTER TABLE [dbo].[PermissionRequests]  WITH CHECK ADD  CONSTRAINT [CK_PermissionRequests_Dates] CHECK  (([EndDate]>=[StartDate]))
GO
ALTER TABLE [dbo].[PermissionRequests] CHECK CONSTRAINT [CK_PermissionRequests_Dates]
GO
ALTER TABLE [dbo].[PermissionRequests]  WITH CHECK ADD  CONSTRAINT [CK_PermissionRequests_TotalDays] CHECK  (([TotalDays]>(0)))
GO
ALTER TABLE [dbo].[PermissionRequests] CHECK CONSTRAINT [CK_PermissionRequests_TotalDays]
GO
ALTER TABLE [dbo].[SettlementDeductions]  WITH CHECK ADD  CONSTRAINT [CK_SettlementDeductions_Amount] CHECK  (([Amount]>=(0)))
GO
ALTER TABLE [dbo].[SettlementDeductions] CHECK CONSTRAINT [CK_SettlementDeductions_Amount]
GO
ALTER TABLE [dbo].[Settlements]  WITH CHECK ADD  CONSTRAINT [CK_Settlements_Dates] CHECK  (([TerminationDate]>=[HireDate]))
GO
ALTER TABLE [dbo].[Settlements] CHECK CONSTRAINT [CK_Settlements_Dates]
GO
ALTER TABLE [dbo].[VacationBalances]  WITH CHECK ADD  CONSTRAINT [CK_VacationBalances_Days] CHECK  (([TotalDays]>=(0) AND [UsedDays]>=(0) AND [PendingDays]>=(0) AND [CarryOverDays]>=(0)))
GO
ALTER TABLE [dbo].[VacationBalances] CHECK CONSTRAINT [CK_VacationBalances_Days]
GO
ALTER TABLE [dbo].[VacationRequests]  WITH CHECK ADD  CONSTRAINT [CK_VacationRequests_Dates] CHECK  (([EndDate]>=[StartDate]))
GO
ALTER TABLE [dbo].[VacationRequests] CHECK CONSTRAINT [CK_VacationRequests_Dates]
GO
ALTER TABLE [dbo].[VacationRequests]  WITH CHECK ADD  CONSTRAINT [CK_VacationRequests_TotalDays] CHECK  (([TotalDays]>(0)))
GO
ALTER TABLE [dbo].[VacationRequests] CHECK CONSTRAINT [CK_VacationRequests_TotalDays]
GO
USE [master]
GO
